<form [formGroup]="teste" class="container col-sm-6" (ngSubmit)='enviar()' required>
    <div class="form-group">
        <label for="name">Name: </label>
        <input id="name" class="form-control" type="text" formControlName="name">
    </div>
    <div class="form-group">
        <label for="email">Email: </label>
        <input id="email" class="form-control " type="email" formControlName="email">
    </div>
    <div class="form-group">
        <label for="password">Password: </label>
        <input id="password" class="form-control" type="password" formControlName="password">
    </div>
    <div class="form-group">
        <label for="replayPassword">Replay Password: </label>
        <input id="replayPassword" (blur)="checkReplayPassword($event)" class="form-control" type="password"
            formControlName="replayPassword">

    </div>
    <div *ngIf="replayPassword.valid" class="alert alert-success" role="alert">
        Um simples alerta success. Olha só!
    </div>
    <app-states (teste2)='enviar($event)'></app-states>
    <div class="form-group">
        <button [disabled]="!teste.valid" class="btn btn-primary">Enviar</button>
    </div>

</form>