<div class="list-group">
    <div class="list-group mt-2 mb-550" *ngFor="let post of posts">
        <a href="" class="list-group-item list-group-item-action" >
            <div id="{{post.codigo}}" class="d-flex w-100 justify-content-between" (mouseover)="teste($event)" (mouseout)="teste2($event)">
                <h5 class="mb-1">{{post.titulo}}</h5>
                <small>
                    {{post.dono.name}},
                    {{post.dateCriacao | date}}
                </small>
            </div>
            <p class="mb-1">{{post.texto}}</p>
            <small>{{post.status}}</small>
        </a>
    </div>
</div>